<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>잡화점</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/pizza-style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="/pizzas">피자 메뉴 보기</a>
        <img src="/images/kakao_login_large.png" id="kakaoLogin">
    </div>
</body>

<script>
    $("#kakaoLogin").click(function () {
        $.ajax({
            url: "/oauth/kakao/login",
            method: "GET",
            success: function (data) {
                console.log("data :", data);
                window.location.href = data;
            },
            error: function () {
                alert("카카오 로그인에서 Redirect URL 주소를 확인 해주세요.");
            }
        });
    });
</script>
</html>