<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1>피자 상세보기</h1>
    <div id="pizza-detail">
        <img id="pizza-img" src="" style="max-width: 150px; display: none;">
        <p><strong>이름 : </strong> <span id="pizza-name"></span> </p>
        <p><strong>가격 : </strong> <span id="pizza-price"></span> </p>
        <p><strong>설명 : </strong> <span id="pizza-description"></span> </p>
    </div>
    <div class="buttons">
        <a id="edit-button" class="btn">수정</a>
        <button id="delete-button" class="btn">삭제</button>
        <a href="/pizzas">목록</a>
    </div>
</div>
</body>

<script>
    $(document).ready(function(){
        const Params = new URLSearchParams(window.location.search);
        const id = Params.get('id');

        $("#edit-button").attr("href", `/pizzas/edit?id=${id}`);

        $('#delete-button').click(function(){
            if (confirm("정말 삭제하시겠습니까?")) {
                $.ajax({
                    url: '/api/pizzas/' + id,
                    method: 'delete',
                    success: function (data) {
                        alert("메뉴가 삭제되었습니다.");
                        return
                        location.reload();
                    },
                    error: function (data) {
                        alert("메뉴를 삭제할 수 없습니다.");
                    }
                })
            }
        });

        $.ajax({
            // url: "/api/pizzas/" + id,
            url: `/api/pizzas/${id}`,
            method: "GET",
            success: function(pizza) {
                if (pizza.imagePath) {
                    $('#pizza-img').attr('src', pizza.imagePath).show();
                } else {
                    $('#pizza-img').attr('src', "/images/default-pizza.png").show();
                }
                $('#pizza-name').text(pizza.name);
                $('#pizza-price').text(pizza.price);
                $('#pizza-description').text(pizza.description);
            },
            error: function() {
                alert("피자 데이터를 가져올 수 없습니다.");
                window.location.href = "/pizzas";
            }
        });
    });
</script>
</html>
